<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col w-full">
    <div class="card bg-base-100 w-full max-w-lg shrink-0 shadow-2xl">
      <div class="card-body">
        <h2 class="card-title text-2xl font-bold justify-center mb-4">{{ 'AUTH.FORGOT_PASSWORD_TITLE' | translate }}</h2>
        <p class="text-sm text-center mb-6">{{ 'AUTH.FORGOT_PASSWORD_INSTRUCTIONS' | translate }}</p>

        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          @if (errorMessage()) {
          <div class="alert alert-error mb-4">
            <span>{{ errorMessage() }}</span>
          </div>
          }

          @if (successMessage()) {
          <div class="alert alert-success mb-4">
            <span>{{ successMessage() }}</span>
          </div>
          }

          <div class="form-control">
            <label class="label">
              <span class="label-text">{{ 'AUTH.EMAIL' | translate }}</span>
            </label>
            <input type="email" formControlName="email" class="input input-bordered w-full"
              [placeholder]="'AUTH.EMAIL_PLACEHOLDER' | translate" />
          </div>

          <button type="submit" class="btn btn-neutral mt-6 w-full" [disabled]="forgotForm.invalid || isLoading()">
            @if (isLoading()) {
            <span class="loading loading-spinner"></span>
            }
            {{ 'AUTH.SEND_LINK_BTN' | translate }}
          </button>

          <div class="mt-4 text-center">
            <a routerLink="/login" class="link link-hover text-sm">{{ 'AUTH.BACK_TO_LOGIN' | translate }}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
