<app-header 
    [isLoggedIn]="!!authService.currentUser()" 
    [cartItemCount]="cartService.totalItemsCount()"
    (logoutEvent)="handleLogout()">
</app-header>
<main class="main-content">
  <router-outlet></router-outlet>
</main>
<router-outlet></router-outlet>

<a routerLink="/contacto" 
   class="fixed bottom-6 right-6 z-[999] btn btn-circle btn-primary shadow-2xl hover:scale-110 transition-all duration-300 floating-contact" 
   [title]="'NAV.CONTACT' | translate">
  <i class="fi fi-rr-headset text-2xl"></i>
</a>
<app-footer></app-footer>